body {
    background-color: #00D1AE;
}

h1 {
    color: rgb(167, 158, 218); 
    text-decoration: underline; 
}
   
p {
    font-size: 18px;
    width: 890px;
    text-indent: 50px;
    text-align: justify;
}

span {
    color: rgb(185, 222, 101);
    font-size: 20px;
    font-weight: bold;
}

.blue-box{
    background-color: rgb(167, 158, 218);
    color: rgb(219, 63, 63);
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}

.yellow-box{
    background-color: rgb(241, 196, 15);
    color: rgb(0, 0, 0);
    font-size: 25px;
    text-align: right;
}

.red-box{
    background-color: rgb(219, 63, 63);
    color: rgb(255, 255, 255);
    font-size: 15px;
}

.menu{
    width: 400px;
    height: 50px;
    background-color: gray;
}

.content{
    width: 400px;
    height: 200px;
    background-color: red;
}